.bg-001 {
  width: 40px;
  height: 40px;
  background: -0 -0;
}

.bg-002 {
  width: 40px;
  height: 40px;
  background: -40px -0;
}

.bg-003 {
  width: 40px;
  height: 40px;
  background: -0 -40px;
}

.bg-004 {
  width: 40px;
  height: 40px;
  background: -40px -40px;
}

.bg-005 {
  width: 40px;
  height: 40px;
  background: -80px -0;
}

.bg-006 {
  width: 40px;
  height: 40px;
  background: -80px -40px;
}

.bg-007 {
  width: 40px;
  height: 40px;
  background: -0 -80px;
}

.bg-008 {
  width: 40px;
  height: 40px;
  background: -40px -80px;
}

.bg-009 {
  width: 40px;
  height: 40px;
  background: -80px -80px;
}

.bg-010 {
  width: 40px;
  height: 40px;
  background: -120px -0;
}

.bg-011 {
  width: 40px;
  height: 40px;
  background: -120px -40px;
}

.bg-012 {
  width: 40px;
  height: 40px;
  background: -120px -80px;
}

.bg-013 {
  width: 40px;
  height: 40px;
  background: -0 -120px;
}

.bg-014 {
  width: 40px;
  height: 40px;
  background: -40px -120px;
}

.bg-016 {
  width: 40px;
  height: 40px;
  background: -80px -120px;
}

.bg-018 {
  width: 40px;
  height: 40px;
  background: -120px -120px;
}

.bg-015 {
  width: 40px;
  height: 40px;
  background: -160px -0;
}

.bg-017 {
  width: 40px;
  height: 40px;
  background: -160px -40px;
}

.bg-020 {
  width: 40px;
  height: 40px;
  background: -160px -80px;
}

.bg-019 {
  width: 40px;
  height: 40px;
  background: -160px -120px;
}

.bg-021 {
  width: 40px;
  height: 40px;
  background: -0 -160px;
}

.bg-022 {
  width: 40px;
  height: 40px;
  background: -40px -160px;
}

.bg-023 {
  width: 40px;
  height: 40px;
  background: -80px -160px;
}

.bg-024 {
  width: 40px;
  height: 40px;
  background: -120px -160px;
}

.bg-026 {
  width: 40px;
  height: 40px;
  background: -160px -160px;
}

.bg-027 {
  width: 40px;
  height: 40px;
  background: -200px -0;
}

.bg-025 {
  width: 40px;
  height: 40px;
  background: -200px -40px;
}

.bg-028 {
  width: 40px;
  height: 40px;
  background: -200px -80px;
}

.bg-033 {
  width: 40px;
  height: 40px;
  background: -200px -120px;
}

.bg-031 {
  width: 40px;
  height: 40px;
  background: -200px -160px;
}

.bg-034 {
  width: 40px;
  height: 40px;
  background: -0 -200px;
}

.bg-029 {
  width: 40px;
  height: 40px;
  background: -40px -200px;
}

.bg-032 {
  width: 40px;
  height: 40px;
  background: -80px -200px;
}

.bg-030 {
  width: 40px;
  height: 40px;
  background: -120px -200px;
}

.bg-035 {
  width: 40px;
  height: 40px;
  background: -160px -200px;
}

.bg-036 {
  width: 40px;
  height: 40px;
  background: -200px -200px;
}

.bg-038 {
  width: 40px;
  height: 40px;
  background: -240px -0;
}

.bg-037 {
  width: 40px;
  height: 40px;
  background: -240px -40px;
}

.bg-039 {
  width: 40px;
  height: 40px;
  background: -240px -80px;
}

.bg-041 {
  width: 40px;
  height: 40px;
  background: -240px -120px;
}

.bg-042 {
  width: 40px;
  height: 40px;
  background: -240px -160px;
}

.bg-040 {
  width: 40px;
  height: 40px;
  background: -240px -200px;
}

.bg-043 {
  width: 40px;
  height: 40px;
  background: -0 -240px;
}

.bg-047 {
  width: 40px;
  height: 40px;
  background: -40px -240px;
}

.bg-045 {
  width: 40px;
  height: 40px;
  background: -80px -240px;
}

.bg-044 {
  width: 40px;
  height: 40px;
  background: -120px -240px;
}

.bg-048 {
  width: 40px;
  height: 40px;
  background: -160px -240px;
}

.bg-051 {
  width: 40px;
  height: 40px;
  background: -200px -240px;
}

.bg-049 {
  width: 40px;
  height: 40px;
  background: -240px -240px;
}

.bg-050 {
  width: 40px;
  height: 40px;
  background: -280px -0;
}

.bg-054 {
  width: 40px;
  height: 40px;
  background: -280px -40px;
}

.bg-053 {
  width: 40px;
  height: 40px;
  background: -280px -80px;
}

.bg-052 {
  width: 40px;
  height: 40px;
  background: -280px -120px;
}

.bg-055 {
  width: 40px;
  height: 40px;
  background: -280px -160px;
}

.bg-056 {
  width: 40px;
  height: 40px;
  background: -280px -200px;
}

.bg-057 {
  width: 40px;
  height: 40px;
  background: -280px -240px;
}

.bg-058 {
  width: 40px;
  height: 40px;
  background: -0 -280px;
}

.bg-059 {
  width: 40px;
  height: 40px;
  background: -40px -280px;
}

.bg-061 {
  width: 40px;
  height: 40px;
  background: -80px -280px;
}

.bg-060 {
  width: 40px;
  height: 40px;
  background: -120px -280px;
}

.bg-064 {
  width: 40px;
  height: 40px;
  background: -160px -280px;
}

.bg-063 {
  width: 40px;
  height: 40px;
  background: -200px -280px;
}

.bg-065 {
  width: 40px;
  height: 40px;
  background: -240px -280px;
}

.bg-062 {
  width: 40px;
  height: 40px;
  background: -280px -280px;
}

.bg-066 {
  width: 40px;
  height: 40px;
  background: -320px -0;
}

.bg-067 {
  width: 40px;
  height: 40px;
  background: -320px -40px;
}

.bg-068 {
  width: 40px;
  height: 40px;
  background: -320px -80px;
}

.bg-069 {
  width: 40px;
  height: 40px;
  background: -320px -120px;
}

.bg-071 {
  width: 40px;
  height: 40px;
  background: -320px -160px;
}

.bg-070 {
  width: 40px;
  height: 40px;
  background: -320px -200px;
}

.bg-072 {
  width: 40px;
  height: 40px;
  background: -320px -240px;
}

.bg-073 {
  width: 40px;
  height: 40px;
  background: -320px -280px;
}

.bg-074 {
  width: 40px;
  height: 40px;
  background: -0 -320px;
}

.bg-076 {
  width: 40px;
  height: 40px;
  background: -40px -320px;
}

.bg-075 {
  width: 40px;
  height: 40px;
  background: -80px -320px;
}

.bg-078 {
  width: 40px;
  height: 40px;
  background: -120px -320px;
}

.bg-077 {
  width: 40px;
  height: 40px;
  background: -160px -320px;
}

.bg-079 {
  width: 40px;
  height: 40px;
  background: -200px -320px;
}

.bg-081 {
  width: 40px;
  height: 40px;
  background: -240px -320px;
}

.bg-082 {
  width: 40px;
  height: 40px;
  background: -280px -320px;
}

.bg-080 {
  width: 40px;
  height: 40px;
  background: -320px -320px;
}

.bg-083 {
  width: 40px;
  height: 40px;
  background: -360px -0;
}

.bg-084 {
  width: 40px;
  height: 40px;
  background: -360px -40px;
}

.bg-085 {
  width: 40px;
  height: 40px;
  background: -360px -80px;
}

.bg-086 {
  width: 40px;
  height: 40px;
  background: -360px -120px;
}

.bg-087 {
  width: 40px;
  height: 40px;
  background: -360px -160px;
}

.bg-088 {
  width: 40px;
  height: 40px;
  background: -360px -200px;
}

.bg-089 {
  width: 40px;
  height: 40px;
  background: -360px -240px;
}

.bg-092 {
  width: 40px;
  height: 40px;
  background: -360px -280px;
}

.bg-090 {
  width: 40px;
  height: 40px;
  background: -360px -320px;
}

.bg-093 {
  width: 40px;
  height: 40px;
  background: -0 -360px;
}

.bg-091 {
  width: 40px;
  height: 40px;
  background: -40px -360px;
}

.bg-094 {
  width: 40px;
  height: 40px;
  background: -80px -360px;
}

.bg-095 {
  width: 40px;
  height: 40px;
  background: -120px -360px;
}

.bg-096 {
  width: 40px;
  height: 40px;
  background: -160px -360px;
}

.bg-098 {
  width: 40px;
  height: 40px;
  background: -200px -360px;
}

.bg-099 {
  width: 40px;
  height: 40px;
  background: -240px -360px;
}

.bg-097 {
  width: 40px;
  height: 40px;
  background: -280px -360px;
}

.bg-101 {
  width: 40px;
  height: 40px;
  background: -320px -360px;
}

.bg-100 {
  width: 40px;
  height: 40px;
  background: -360px -360px;
}

.bg-102 {
  width: 40px;
  height: 40px;
  background: -400px -0;
}

.bg-103 {
  width: 40px;
  height: 40px;
  background: -400px -40px;
}

.bg-104 {
  width: 40px;
  height: 40px;
  background: -400px -80px;
}

.bg-105 {
  width: 40px;
  height: 40px;
  background: -400px -120px;
}

.bg-106 {
  width: 40px;
  height: 40px;
  background: -400px -160px;
}

.bg-107 {
  width: 40px;
  height: 40px;
  background: -400px -200px;
}

.bg-108 {
  width: 40px;
  height: 40px;
  background: -400px -240px;
}

.bg-109 {
  width: 40px;
  height: 40px;
  background: -400px -280px;
}

.bg-110 {
  width: 40px;
  height: 40px;
  background: -400px -320px;
}

.bg-111 {
  width: 40px;
  height: 40px;
  background: -400px -360px;
}

.bg-112 {
  width: 40px;
  height: 40px;
  background: -0 -400px;
}

.bg-113 {
  width: 40px;
  height: 40px;
  background: -40px -400px;
}

.bg-114 {
  width: 40px;
  height: 40px;
  background: -80px -400px;
}

.bg-115 {
  width: 40px;
  height: 40px;
  background: -120px -400px;
}

.bg-116 {
  width: 40px;
  height: 40px;
  background: -160px -400px;
}

.bg-117 {
  width: 40px;
  height: 40px;
  background: -200px -400px;
}

.bg-118 {
  width: 40px;
  height: 40px;
  background: -240px -400px;
}

.bg-119 {
  width: 40px;
  height: 40px;
  background: -280px -400px;
}

.bg-120 {
  width: 40px;
  height: 40px;
  background: -320px -400px;
}

.bg-121 {
  width: 40px;
  height: 40px;
  background: -360px -400px;
}

.bg-122 {
  width: 40px;
  height: 40px;
  background: -400px -400px;
}

.bg-123 {
  width: 40px;
  height: 40px;
  background: -440px -0;
}

.bg-124 {
  width: 40px;
  height: 40px;
  background: -440px -40px;
}

.bg-125 {
  width: 40px;
  height: 40px;
  background: -440px -80px;
}

.bg-126 {
  width: 40px;
  height: 40px;
  background: -440px -120px;
}

.bg-127 {
  width: 40px;
  height: 40px;
  background: -440px -160px;
}

.bg-128 {
  width: 40px;
  height: 40px;
  background: -440px -200px;
}

.bg-129 {
  width: 40px;
  height: 40px;
  background: -440px -240px;
}

.bg-130 {
  width: 40px;
  height: 40px;
  background: -440px -280px;
}

.bg-131 {
  width: 40px;
  height: 40px;
  background: -440px -320px;
}

.bg-132 {
  width: 40px;
  height: 40px;
  background: -440px -360px;
}

.bg-133 {
  width: 40px;
  height: 40px;
  background: -440px -400px;
}

.bg-134 {
  width: 40px;
  height: 40px;
  background: -0 -440px;
}

.bg-135 {
  width: 40px;
  height: 40px;
  background: -40px -440px;
}

.bg-136 {
  width: 40px;
  height: 40px;
  background: -80px -440px;
}

.bg-137 {
  width: 40px;
  height: 40px;
  background: -120px -440px;
}

.bg-138 {
  width: 40px;
  height: 40px;
  background: -160px -440px;
}

.bg-139 {
  width: 40px;
  height: 40px;
  background: -200px -440px;
}

.bg-140 {
  width: 40px;
  height: 40px;
  background: -240px -440px;
}

.bg-141 {
  width: 40px;
  height: 40px;
  background: -280px -440px;
}

.bg-142 {
  width: 40px;
  height: 40px;
  background: -320px -440px;
}

.bg-143 {
  width: 40px;
  height: 40px;
  background: -360px -440px;
}

.bg-144 {
  width: 40px;
  height: 40px;
  background: -400px -440px;
}

.bg-145 {
  width: 40px;
  height: 40px;
  background: -440px -440px;
}

.bg-146 {
  width: 40px;
  height: 40px;
  background: -480px -0;
}

.bg-147 {
  width: 40px;
  height: 40px;
  background: -480px -40px;
}

.bg-148 {
  width: 40px;
  height: 40px;
  background: -480px -80px;
}

.bg-149 {
  width: 40px;
  height: 40px;
  background: -480px -120px;
}

.bg-150 {
  width: 40px;
  height: 40px;
  background: -480px -160px;
}

.bg-151 {
  width: 40px;
  height: 40px;
  background: -480px -200px;
}

.bg-152 {
  width: 40px;
  height: 40px;
  background: -480px -240px;
}

.bg-153 {
  width: 40px;
  height: 40px;
  background: -480px -280px;
}

.bg-154 {
  width: 40px;
  height: 40px;
  background: -480px -320px;
}

.bg-155 {
  width: 40px;
  height: 40px;
  background: -480px -360px;
}

.bg-156 {
  width: 40px;
  height: 40px;
  background: -480px -400px;
}

.bg-157 {
  width: 40px;
  height: 40px;
  background: -480px -440px;
}

.bg-158 {
  width: 40px;
  height: 40px;
  background: -0 -480px;
}

.bg-159 {
  width: 40px;
  height: 40px;
  background: -40px -480px;
}

.bg-160 {
  width: 40px;
  height: 40px;
  background: -80px -480px;
}

.bg-161 {
  width: 40px;
  height: 40px;
  background: -120px -480px;
}

.bg-162 {
  width: 40px;
  height: 40px;
  background: -160px -480px;
}

.bg-163 {
  width: 40px;
  height: 40px;
  background: -200px -480px;
}

.bg-164 {
  width: 40px;
  height: 40px;
  background: -240px -480px;
}

.bg-165 {
  width: 40px;
  height: 40px;
  background: -280px -480px;
}

.bg-166 {
  width: 40px;
  height: 40px;
  background: -320px -480px;
}

.bg-167 {
  width: 40px;
  height: 40px;
  background: -360px -480px;
}

.bg-168 {
  width: 40px;
  height: 40px;
  background: -400px -480px;
}

.bg-169 {
  width: 40px;
  height: 40px;
  background: -440px -480px;
}

.bg-170 {
  width: 40px;
  height: 40px;
  background: -480px -480px;
}

.bg-171 {
  width: 40px;
  height: 40px;
  background: -520px -0;
}

.bg-172 {
  width: 40px;
  height: 40px;
  background: -520px -40px;
}

.bg-173 {
  width: 40px;
  height: 40px;
  background: -520px -80px;
}

.bg-174 {
  width: 40px;
  height: 40px;
  background: -520px -120px;
}

.bg-175 {
  width: 40px;
  height: 40px;
  background: -520px -160px;
}

.bg-176 {
  width: 40px;
  height: 40px;
  background: -520px -200px;
}

.bg-177 {
  width: 40px;
  height: 40px;
  background: -520px -240px;
}

.bg-178 {
  width: 40px;
  height: 40px;
  background: -520px -280px;
}

.bg-179 {
  width: 40px;
  height: 40px;
  background: -520px -320px;
}

.bg-180 {
  width: 40px;
  height: 40px;
  background: -520px -360px;
}

.bg-181 {
  width: 40px;
  height: 40px;
  background: -520px -400px;
}

.bg-182 {
  width: 40px;
  height: 40px;
  background: -520px -440px;
}

.bg-183 {
  width: 40px;
  height: 40px;
  background: -520px -480px;
}

.bg-184 {
  width: 40px;
  height: 40px;
  background: -0 -520px;
}

.bg-185 {
  width: 40px;
  height: 40px;
  background: -40px -520px;
}

.bg-186 {
  width: 40px;
  height: 40px;
  background: -80px -520px;
}

.bg-187 {
  width: 40px;
  height: 40px;
  background: -120px -520px;
}

.bg-188 {
  width: 40px;
  height: 40px;
  background: -160px -520px;
}

.bg-189 {
  width: 40px;
  height: 40px;
  background: -200px -520px;
}

.bg-190 {
  width: 40px;
  height: 40px;
  background: -240px -520px;
}

.bg-191 {
  width: 40px;
  height: 40px;
  background: -280px -520px;
}

.bg-192 {
  width: 40px;
  height: 40px;
  background: -320px -520px;
}

.bg-193 {
  width: 40px;
  height: 40px;
  background: -360px -520px;
}

.bg-194 {
  width: 40px;
  height: 40px;
  background: -400px -520px;
}

.bg-195 {
  width: 40px;
  height: 40px;
  background: -440px -520px;
}

.bg-196 {
  width: 40px;
  height: 40px;
  background: -480px -520px;
}

.bg-197 {
  width: 40px;
  height: 40px;
  background: -520px -520px;
}

.bg-198 {
  width: 40px;
  height: 40px;
  background: -560px -0;
}

.bg-199 {
  width: 40px;
  height: 40px;
  background: -560px -40px;
}

.bg-200 {
  width: 40px;
  height: 40px;
  background: -560px -80px;
}

.bg-201 {
  width: 40px;
  height: 40px;
  background: -560px -120px;
}

.bg-202 {
  width: 40px;
  height: 40px;
  background: -560px -160px;
}

.bg-203 {
  width: 40px;
  height: 40px;
  background: -560px -200px;
}

.bg-204 {
  width: 40px;
  height: 40px;
  background: -560px -240px;
}

.bg-205 {
  width: 40px;
  height: 40px;
  background: -560px -280px;
}

.bg-206 {
  width: 40px;
  height: 40px;
  background: -560px -320px;
}

.bg-207 {
  width: 40px;
  height: 40px;
  background: -560px -360px;
}

.bg-208 {
  width: 40px;
  height: 40px;
  background: -560px -400px;
}

.bg-209 {
  width: 40px;
  height: 40px;
  background: -560px -440px;
}

.bg-210 {
  width: 40px;
  height: 40px;
  background: -560px -480px;
}

.bg-211 {
  width: 40px;
  height: 40px;
  background: -560px -520px;
}

.bg-212 {
  width: 40px;
  height: 40px;
  background: -0 -560px;
}

.bg-213 {
  width: 40px;
  height: 40px;
  background: -40px -560px;
}

.bg-214 {
  width: 40px;
  height: 40px;
  background: -80px -560px;
}

.bg-215 {
  width: 40px;
  height: 40px;
  background: -120px -560px;
}

.bg-216 {
  width: 40px;
  height: 40px;
  background: -160px -560px;
}

.bg-217 {
  width: 40px;
  height: 40px;
  background: -200px -560px;
}

.bg-218 {
  width: 40px;
  height: 40px;
  background: -240px -560px;
}

.bg-219 {
  width: 40px;
  height: 40px;
  background: -280px -560px;
}

.bg-220 {
  width: 40px;
  height: 40px;
  background: -320px -560px;
}

.bg-221 {
  width: 40px;
  height: 40px;
  background: -360px -560px;
}

.bg-222 {
  width: 40px;
  height: 40px;
  background: -400px -560px;
}

.bg-223 {
  width: 40px;
  height: 40px;
  background: -440px -560px;
}

.bg-224 {
  width: 40px;
  height: 40px;
  background: -480px -560px;
}

.bg-225 {
  width: 40px;
  height: 40px;
  background: -520px -560px;
}

.bg-226 {
  width: 40px;
  height: 40px;
  background: -560px -560px;
}

.bg-227 {
  width: 40px;
  height: 40px;
  background: -600px -0;
}

.bg-228 {
  width: 40px;
  height: 40px;
  background: -600px -40px;
}

.bg-229 {
  width: 40px;
  height: 40px;
  background: -600px -80px;
}

.bg-230 {
  width: 40px;
  height: 40px;
  background: -600px -120px;
}

.bg-231 {
  width: 40px;
  height: 40px;
  background: -600px -160px;
}

.bg-232 {
  width: 40px;
  height: 40px;
  background: -600px -200px;
}

.bg-233 {
  width: 40px;
  height: 40px;
  background: -600px -240px;
}

.bg-234 {
  width: 40px;
  height: 40px;
  background: -600px -280px;
}

.bg-235 {
  width: 40px;
  height: 40px;
  background: -600px -320px;
}

.bg-236 {
  width: 40px;
  height: 40px;
  background: -600px -360px;
}

.bg-237 {
  width: 40px;
  height: 40px;
  background: -600px -400px;
}

.bg-238 {
  width: 40px;
  height: 40px;
  background: -600px -440px;
}

.bg-239 {
  width: 40px;
  height: 40px;
  background: -600px -480px;
}

.bg-240 {
  width: 40px;
  height: 40px;
  background: -600px -520px;
}

.bg-241 {
  width: 40px;
  height: 40px;
  background: -600px -560px;
}

.bg-242 {
  width: 40px;
  height: 40px;
  background: -0 -600px;
}

.bg-243 {
  width: 40px;
  height: 40px;
  background: -40px -600px;
}

.bg-244 {
  width: 40px;
  height: 40px;
  background: -80px -600px;
}

.bg-245 {
  width: 40px;
  height: 40px;
  background: -120px -600px;
}

.bg-246 {
  width: 40px;
  height: 40px;
  background: -160px -600px;
}

.bg-247 {
  width: 40px;
  height: 40px;
  background: -200px -600px;
}

.bg-248 {
  width: 40px;
  height: 40px;
  background: -240px -600px;
}

.bg-249 {
  width: 40px;
  height: 40px;
  background: -280px -600px;
}

.bg-250 {
  width: 40px;
  height: 40px;
  background: -320px -600px;
}

.bg-251 {
  width: 40px;
  height: 40px;
  background: -360px -600px;
}

.bg-252 {
  width: 40px;
  height: 40px;
  background: -400px -600px;
}

.bg-253 {
  width: 40px;
  height: 40px;
  background: -440px -600px;
}

.bg-254 {
  width: 40px;
  height: 40px;
  background: -480px -600px;
}

.bg-255 {
  width: 40px;
  height: 40px;
  background: -520px -600px;
}

.bg-256 {
  width: 40px;
  height: 40px;
  background: -560px -600px;
}

.bg-257 {
  width: 40px;
  height: 40px;
  background: -600px -600px;
}

.bg-258 {
  width: 40px;
  height: 40px;
  background: -640px -0;
}

.bg-259 {
  width: 40px;
  height: 40px;
  background: -640px -40px;
}

.bg-260 {
  width: 40px;
  height: 40px;
  background: -640px -80px;
}

.bg-261 {
  width: 40px;
  height: 40px;
  background: -640px -120px;
}

.bg-262 {
  width: 40px;
  height: 40px;
  background: -640px -160px;
}

.bg-263 {
  width: 40px;
  height: 40px;
  background: -640px -200px;
}

.bg-264 {
  width: 40px;
  height: 40px;
  background: -640px -240px;
}

.bg-265 {
  width: 40px;
  height: 40px;
  background: -640px -280px;
}

.bg-266 {
  width: 40px;
  height: 40px;
  background: -640px -320px;
}

.bg-267 {
  width: 40px;
  height: 40px;
  background: -640px -360px;
}

.bg-268 {
  width: 40px;
  height: 40px;
  background: -640px -400px;
}

.bg-269 {
  width: 40px;
  height: 40px;
  background: -640px -440px;
}

.bg-270 {
  width: 40px;
  height: 40px;
  background: -640px -480px;
}

.bg-271 {
  width: 40px;
  height: 40px;
  background: -640px -520px;
}

.bg-272 {
  width: 40px;
  height: 40px;
  background: -640px -560px;
}

.bg-273 {
  width: 40px;
  height: 40px;
  background: -640px -600px;
}

.bg-274 {
  width: 40px;
  height: 40px;
  background: -0 -640px;
}

.bg-275 {
  width: 40px;
  height: 40px;
  background: -40px -640px;
}

.bg-276 {
  width: 40px;
  height: 40px;
  background: -80px -640px;
}

.bg-278 {
  width: 40px;
  height: 40px;
  background: -120px -640px;
}

.bg-279 {
  width: 40px;
  height: 40px;
  background: -160px -640px;
}

.bg-280 {
  width: 40px;
  height: 40px;
  background: -200px -640px;
}

.bg-281 {
  width: 40px;
  height: 40px;
  background: -240px -640px;
}

.bg-282 {
  width: 40px;
  height: 40px;
  background: -280px -640px;
}

.bg-283 {
  width: 40px;
  height: 40px;
  background: -320px -640px;
}

.bg-284 {
  width: 40px;
  height: 40px;
  background: -360px -640px;
}

.bg-285 {
  width: 40px;
  height: 40px;
  background: -400px -640px;
}

.bg-286 {
  width: 40px;
  height: 40px;
  background: -440px -640px;
}

.bg-287 {
  width: 40px;
  height: 40px;
  background: -480px -640px;
}

.bg-288 {
  width: 40px;
  height: 40px;
  background: -520px -640px;
}

.bg-289 {
  width: 40px;
  height: 40px;
  background: -560px -640px;
}

.bg-290 {
  width: 40px;
  height: 40px;
  background: -600px -640px;
}

.bg-291 {
  width: 40px;
  height: 40px;
  background: -640px -640px;
}

.bg-292 {
  width: 40px;
  height: 40px;
  background: -680px -0;
}

.bg-293 {
  width: 40px;
  height: 40px;
  background: -680px -40px;
}
