.icon-001 {
  width: 32px;
  height: 32px;
  background: -0 -0;
}

.icon-002 {
  width: 32px;
  height: 32px;
  background: -32px -0;
}

.icon-003 {
  width: 32px;
  height: 32px;
  background: -64px -0;
}

.icon-004 {
  width: 32px;
  height: 32px;
  background: -96px -0;
}

.icon-005 {
  width: 32px;
  height: 32px;
  background: -192px -0;
}

.icon-006 {
  width: 32px;
  height: 32px;
  background: -160px -0;
}

.icon-007 {
  width: 32px;
  height: 32px;
  background: -128px -0;
}

.icon-008 {
  width: 32px;
  height: 32px;
  background: -224px -0;
}

.icon-009 {
  width: 32px;
  height: 32px;
  background: -256px -0;
}

.icon-010 {
  width: 32px;
  height: 32px;
  background: -320px -0;
}

.icon-011 {
  width: 32px;
  height: 32px;
  background: -384px -0;
}

.icon-012 {
  width: 32px;
  height: 32px;
  background: -288px -0;
}

.icon-013 {
  width: 32px;
  height: 32px;
  background: -352px -0;
}

.icon-014 {
  width: 32px;
  height: 32px;
  background: -416px -0;
}

.icon-015 {
  width: 32px;
  height: 32px;
  background: -448px -0;
}

.icon-016 {
  width: 32px;
  height: 32px;
  background: -512px -0;
}

.icon-017 {
  width: 32px;
  height: 32px;
  background: -480px -0;
}

.icon-018 {
  width: 32px;
  height: 32px;
  background: -544px -0;
}

.icon-019 {
  width: 32px;
  height: 32px;
  background: -576px -0;
}

.icon-020 {
  width: 32px;
  height: 32px;
  background: -608px -0;
}

.icon-021 {
  width: 32px;
  height: 32px;
  background: -704px -0;
}

.icon-022 {
  width: 32px;
  height: 32px;
  background: -640px -0;
}

.icon-023 {
  width: 32px;
  height: 32px;
  background: -672px -0;
}

.icon-024 {
  width: 32px;
  height: 32px;
  background: -950px -0;
}

.icon-025 {
  width: 32px;
  height: 32px;
  background: -736px -0;
}

.icon-026 {
  width: 32px;
  height: 32px;
  background: -800px -0;
}

.icon-027 {
  width: 32px;
  height: 32px;
  background: -832px -0;
}

.icon-028 {
  width: 32px;
  height: 32px;
  background: -864px -0;
}

.icon-029 {
  width: 32px;
  height: 32px;
  background: -896px -0;
}

.icon-030 {
  width: 32px;
  height: 32px;
  background: -928px -0;
}

.icon-031 {
  width: 32px;
  height: 32px;
  background: -960px -0;
}

.icon-032 {
  width: 32px;
  height: 32px;
  background: -992px -0;
}

.icon-033 {
  width: 32px;
  height: 32px;
  background: -1024px -0;
}

.icon-034 {
  width: 32px;
  height: 32px;
  background: -1056px -0;
}

.icon-035 {
  width: 32px;
  height: 32px;
  background: -1088px -0;
}

.icon-036 {
  width: 32px;
  height: 32px;
  background: -1120px -0;
}
